body{
    background-color: #8a9597;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

h1{
    font-size: 15px;
}

select{
    width: 100%;
    text-align: center;
}

input{
    float: right;
    width: 200px;
}

.logo{
    width: 15px;

}

.contenedores{
    width: 98%;
    margin: 0 auto;
    
}

.principal{
    background-color: whitesmoke;    
    width: 750px;
    height: 350px ;
    margin: auto;
    margin-top: 1em;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    border-width: 4px;
    border-radius: 10px;
}

.encabezado{
    background-color: #97d3d8;
    border-bottom: 3px solid #333;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 25px;
}

.formularios{
    height: 250px;
}


.formulario1{
    display:inline-block;
    width: 50%;
    height: 100%;
}

.formulario1 div{
    text-align: center;
    margin-top: 3em;
}

.botones{
    margin-top: 1em;
    margin-left: 12.5em;
}
